.grid-item-1 {
  grid-area: about;
}
.grid-item-2 {
  grid-area: quick;
}
.grid-item-3 {
  grid-area: free;
}
.grid-item-4 {
  grid-area: social;
}
.grid-item-5 {
  grid-area: form;
}
.grid-item-6 {
  grid-area: bottom;
  text-align: center;
}

.footer-grid {
  padding-top: 5%;
  color: white;
  display: grid;
  gap: 16px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas:
    'about quick free social'
    'about form form form'
    'bottom bottom bottom bottom';
}

.footer-menu > a {
  display: block;
}
.grid-item-4 .footer-menu {
  display: flex;
  gap: 10px;
}

.grid-item > h4 {
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: normal;
}

@media (max-width: 768px) {
  /* css skirtas nuo 0 iki 768px */
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .footer-grid {
    /* display: flex;
    flex-flow: column; */
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      'about quick free'
      'form form social'
      'bottom bottom bottom';
  }
}
